actionlib==1.12.0
angles==1.9.12
base-local-planner==1.16.5
camera-calibration-parsers==1.11.13
catkin==0.7.23
catkin-pkg==0.4.18
cv-bridge==1.13.0
diagnostic-updater==1.9.3
distro==1.5.0
docutils==0.16
dynamic-reconfigure==1.6.3
gazebo-plugins==2.8.6
gazebo-ros==2.8.6
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
image-geometry==1.13.0
interactive-markers==1.11.4
joint-state-publisher==1.12.15
laser-geometry==1.6.4
mavros==1.0.0
message-filters==1.14.5
numpy==1.22.0
opencv-python==4.2.0.32
openni2-launch==0.4.2
pymongo==4.6.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.0
PyYAML==5.3.1
qt-dotgraph==0.4.0
qt-gui==0.4.0
qt-gui-cpp==0.4.0
qt-gui-py-common==0.4.0
resource-retriever==1.12.6
rosbag==1.14.5
rosclean==1.14.8
rosdep==0.19.0
rosdistro==0.8.1
rosgraph==1.14.5
rosinstall==0.7.8
rosinstall-generator==0.1.19
roslaunch==1.14.5
roslib==1.14.8
roslint==0.11.2
roslz4==1.14.5
rosmaster==1.14.5
rosmsg==1.14.5
rosnode==1.14.5
rosparam==1.14.5
rospkg==1.2.6
rospy==1.14.5
rosserial-python==0.8.0
rosservice==1.14.5
rostest==1.14.5
rostopic==1.14.5
rosunit==1.14.8
roswtf==1.14.5
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.1
rqt-gui-py==0.5.1
rqt-image-view==0.4.14
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-msg==0.4.8
rqt-plot==0.4.9
rqt-publisher==0.4.8
rqt-py-common==0.5.1
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
ruamel.ordereddict==0.4.14
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
rviz==1.13.7
sensor-msgs==1.12.7
six==1.14.0
smclib==1.8.3
tf==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
topic-tools==1.14.5
turtlebot3-example==1.2.2
turtlebot3-teleop==1.2.2
vcstools==0.1.42
vext==0.7.3
vext.pyqt5==0.7.0
wstool==0.1.17
xacro==1.13.5
